body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #21755D !important;
  font-family: 'sukhumvit' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "sukhumvit";
  src: local("sukhumvit"),
   url("./fonts/SukhumvitSet-Medium.ttf") format("truetype");
  /* font-weight: bold; */
}

.title-app {
  margin-top : 5px ;
  text-align: center;
  background-color: white;
  padding-bottom: 5px;
}

.title-app .t-name {
  background-color: #4adda7;
  font-weight: bold;
}

.title-app .t-date {
  background-color: #cccacb;
  font-weight: lighter;
}

.panel-app {
  margin-top : 5px ;
  text-align: center;
}

.panel-app .row {
  --bs-gutter-x: 0.5rem;
}
.panel-app .row-2{
  margin-top: 5px;
}

.panel-app .panel-01 {
  padding: 5px;
  background-color: white;
}   

.panel-app .panel-02 {
  margin-top: 5px;
}

.panel-app .panel-03 {
  /* margin-top: 5px; */
  background-color: white;
}
.panel-app .panel-03 .t-name{
  padding-top: 5px;
  background-color: #4adda7;
}
.panel-app .panel-03 .p-group{
  padding: 5px;
  background-color: white;
}

.panel-app .panel-04 {
  margin-top: 5px;
  background-color: white;
}
.panel-app .panel-04 .t-name{
  padding-top: 5px;
  background-color: #4adda7;
}
.panel-app .panel-04 .p-number{
  padding: 5px;
  background-color: white;
}

.submit-app {
  margin-top : 10px ;
  text-align: center;
  background-color: white;
  padding: 10px 20px 10px 20px;
  margin-bottom: 5px;
  border-radius: 30px;
}
